
/* ---- */
/* paper dashboard */

.sidebar .sidebar-wrapper {
  width: 220px;
}

.sidebar,
.off-canvas-sidebar {
  width: 220px;
}

.main-panel {
  width: calc(100% - 220px);
  }

/* Liste membres */
.cartouche img
{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-right: 5px;
  border: 5px solid #bdc3c7;
}

.cartouche
{
/*  width: 350px;*/
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.cartouche-avatar
{
  padding:10px;
  height:100%;
}

.cartouche-titre
{
  font-size: 1rem;  
  font-weight: bold;
  padding: 5px 0;
}

.cartouche-info
{
  background-color:#f1c40f;
  font-size: 0.8rem;
}

.cartouche hr
{
  margin: 10px;
}

[class*="col"] { 
  margin:0;
  padding:10;
}

/* *** */
/* le reste */

/*
.cartouche {
  width: 200px;
  height: 100px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ddd;
  overflow: hidden;
}

.cartouche img {
  float: left;
  width: 100px;
  height: 100px;
  border-right: 1px solid #eee;
}
*/



.alert-danger{
  margin-top: 20px;
}

.btn-success {
  background-color:#C0392B;
  border-color:#96281B;
  color:#FFFFFF;
}

.btn-success:hover, .btn-success:active, .btn-success:focus
{
  background-color:#e74c3c;
  border-color:#D64541;
  color:#FFFFFF;
}

.checkbox:checked {
  background-color:#e74c3c;
  border-color:#D64541;
  color:#FFFFFF;
}

form.login input[type="text"], form.login input[type="password"]{
   color: #C0392B;
}

form.login ::-webkit-input-placeholder {
   color: #96281B;
}

form.login :-moz-placeholder { /* Firefox 18- */
   color: #96281B;  
}

form.login ::-moz-placeholder {  /* Firefox 19+ */
   color: #96281B;  
}

form.login :-ms-input-placeholder {  
   color: #96281B;  
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 1000s, color 1000s;
}