.alert-danger{
  margin-top: 20px;
}

.btn-success {
  background-color:#C0392B;
  border-color:#96281B;
  color:#FFFFFF;
}

.btn-success:hover, .btn-success:active, .btn-success:focus
{
  background-color:#e74c3c;
  border-color:#D64541;
  color:#FFFFFF;
}

.checkbox:checked {
  background-color:#e74c3c;
  border-color:#D64541;
  color:#FFFFFF;
}

form.login input[type="text"], form.login input[type="password"]{
   color: #C0392B;
}

form.login ::-webkit-input-placeholder {
   color: #96281B;
}

form.login :-moz-placeholder { /* Firefox 18- */
   color: #96281B;  
}

form.login ::-moz-placeholder {  /* Firefox 19+ */
   color: #96281B;  
}

form.login :-ms-input-placeholder {  
   color: #96281B;  
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 1000s, color 1000s;
}