
/* ---- */
/* paper dashboard */

.sidebar .sidebar-wrapper {
  width: 220px;
}

.sidebar,
.off-canvas-sidebar {
  width: 220px;
}

.main-panel {
  width: calc(100% - 220px);
  }

.card-userlist .image {
  border-radius: 8px 8px 0 0;
  height: 100px;
  position: relative;
  overflow: hidden;
  width: 100%;
  transform-style: preserve-3d;
}

.card-userlist .image {
  border-radius: 8px 8px 0 0;
  height: 150px;
  position: relative;
  overflow: hidden;
}
.card-userlist .image img {
  width: 100%;
}

.card-userlist .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px;
}
.card-userlist .avatar.border-white {
  border: 5px solid #FFFFFF;
}

.card-userlist .author {
  text-align: center;
  text-transform: none;
  margin-top: -130px;
}
.card-userlist .author .title {
  color: #403D39;
}
.card-userlist .author .title small {
  color: #ccc5b9;
}

.adresse
{
    line-height: 2.5ex;
  height: 7.5ex; /* 2.5ex for each visible line */
  overflow: hidden;
}



.alert-danger{
  margin-top: 20px;
}

.btn-success {
  background-color:#C0392B;
  border-color:#96281B;
  color:#FFFFFF;
}

.btn-success:hover, .btn-success:active, .btn-success:focus
{
  background-color:#e74c3c;
  border-color:#D64541;
  color:#FFFFFF;
}

.checkbox:checked {
  background-color:#e74c3c;
  border-color:#D64541;
  color:#FFFFFF;
}

form.login input[type="text"], form.login input[type="password"]{
   color: #C0392B;
}

form.login ::-webkit-input-placeholder {
   color: #96281B;
}

form.login :-moz-placeholder { /* Firefox 18- */
   color: #96281B;  
}

form.login ::-moz-placeholder {  /* Firefox 19+ */
   color: #96281B;  
}

form.login :-ms-input-placeholder {  
   color: #96281B;  
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 1000s, color 1000s;
}